// DEFAULT - COLORS - FONT // ------------------------------------------------------------------------------------------------------------ //

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

$color_1: #ffff; // White
$color_2: #000000; // black
$color_3: #7a5cff; // main-purple
$color_4: #a894fd; // light-purple
$color_5: #4b34b3; // dark-purple
$color_6: #2d2d2d; // grey



// Animations & Transitions
@mixin fadetransition{
    transition: all 0.30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -webkit-transition: all .30s ease-in-out;
  
  }
  @mixin flexgrid($columns, $columnGap, $rowGap: $columnGap){
    --columnGap: #{$columnGap + 0px};
    --rowGap: #{$rowGap + 0px};
    --columns: #{$columns};
    display: flex;
    flex-wrap: wrap;
    gap: var(--rowGap) var(--columnGap);
    >*{
      --gap: inherit;
      --columns: inherit;
      flex-basis: calc((100% - var(--columnGap) * (var(--columns) - 1)) / var(--columns));
    }
  }

// DEFAULT - STYLE //

body{
    margin: 0;
    font-family: 'Silkscreen', cursive;
    line-height: 20px;
    height: 100vh;
    width: 100vw;
}
a{
    color: $color_6;
    text-decoration: underline;
    @include fadetransition();
    &:hover{
        color: $color_5;
        text-shadow:$color_4 0px 0px 1px,
        $color_4 0px 0px 1px, 
        $color_4 0px 0px 5px, 
        $color_4 0px 0px 10px, 
        $color_4 0px 0px 15px, 
        $color_4 0px 0px 20px, 
        $color_5 0px 0px 25px, 
        $color_5 0px 0px 30px, 2px 2px 2px 
        rgba(140,64,206,0);
        @include fadetransition();

    }
}
p,h1,h2,h3,h4,h5,span{
    color: $color_1;
}

// ------------- // ------------------------------------------------------------------------------------------------------------ //

.main-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    section{
        scroll-snap-align: start;
        width: 100vw;
        height: 100vh;
    }
    .row1{
        background-image: url("../images/background-CBV.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat no-repeat;

        &.title-CBV-buttons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 100vh;
            .container{
                &.text{
                    h1{
                        font-size: 5rem;
                        font-weight: 700;
                        color: $color_1;
                        @include fadetransition();
                        &:hover{
                            text-shadow:$color_4 0px 0px 1px,
                            $color_4 0px 0px 1px, 
                            $color_4 0px 0px 5px, 
                            $color_4 0px 0px 10px, 
                            $color_4 0px 0px 15px, 
                            $color_4 0px 0px 20px, 
                            $color_5 0px 0px 25px, 
                            $color_5 0px 0px 30px, 2px 2px 2px 
                            rgba(140,64,206,0);
                            @include fadetransition();
                        }
                    }
                    p{
                        font-size: 1.2rem;
                        position: relative;
                        bottom: 25px;
                        color: $color_1;
                    }
                }
            }
        }
    }
    .row2{
        background-color:#4b34b3;
        width: 100%;
        height: 100%;
        &.CBV-buttons{
            .container{

            }
        }
    }
    .row3{
        background-color:#6543ff;
        width: 100%;
        height: 100%;
        &.CBV-buttons{
            .container{
            }
        }
    }
}