@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Silkscreen", cursive;
  line-height: 20px;
  height: 100vh;
  width: 100vw;
}

a {
  color: #5e5e5e;
  text-shadow: #4b34b3 0px 0px 1px, white 0px 0px 1px, white 0px 0px 5px, white 0px 0px 5px, white 0px 0px 6px, #4b34b3 0px 0px 15px, 1px 1px 1px rgba(140, 64, 206, 0);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
a:hover {
  color: white;
  text-shadow: #a894fd 0px 0px 1px, #a894fd 0px 0px 1px, #a894fd 0px 0px 5px, #a894fd 0px 0px 10px, #a894fd 0px 0px 15px, #a894fd 0px 0px 20px, #4b34b3 0px 0px 25px, #4b34b3 0px 0px 30px, 2px 2px 2px rgba(140, 64, 206, 0);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

p, h1, h2, h3, h4, h5, span {
  color: white;
}

.main-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
.main-container section {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
}
.main-container .row1 {
  background-image: url("../images/background-CBV.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat no-repeat;
  position: relative;
}
.main-container .row1 .topicons a {
  text-shadow: none !important;
  opacity: 0.8;
}
.main-container .row1 .topicons a:hover {
  text-shadow: #a894fd 0px 0px 1px, #a894fd 0px 0px 1px, #a894fd 0px 0px 5px, #a894fd 0px 0px 5px, #a894fd 0px 0px 5px, #a894fd 0px 0px 10px, #4b34b3 0px 0px 15px, #4b34b3 0px 0px 20px, 2px 2px 2px rgba(140, 64, 206, 0) !important;
  opacity: 1;
}
.main-container .row1 .topicons a i {
  font-size: 30px;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}
.main-container .row1.title-CBV-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.main-container .row1.title-CBV-buttons .container {
  position: relative;
  z-index: 10;
}
.main-container .row1.title-CBV-buttons .container.text h1 {
  font-size: 5rem;
  font-weight: 200;
  color: white;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.main-container .row1.title-CBV-buttons .container.text h1:hover {
  text-shadow: #a894fd 0px 0px 1px, #a894fd 0px 0px 1px, #a894fd 0px 0px 5px, #a894fd 0px 0px 10px, #a894fd 0px 0px 15px, #a894fd 0px 0px 20px, #4b34b3 0px 0px 25px, #4b34b3 0px 0px 30px, 2px 2px 2px rgba(140, 64, 206, 0);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.main-container .row1.title-CBV-buttons .container.text p {
  font-size: 1.2rem;
  position: relative;
  bottom: 25px;
  color: white;
}
.main-container .row2 {
  background: linear-gradient(180deg, rgb(147, 113, 177) 0%, rgb(94, 71, 114) 30%, rgb(68, 50, 83) 70%);
  width: 100%;
  height: 100%;
  position: relative;
}
.main-container .row3 {
  background-color: #443253;
  width: 100%;
  height: 100%;
  position: relative;
}/*# sourceMappingURL=main.css.map */